@{
    ViewBag.Title = "Home Page";
}

<div class="hero-unit">
  <h1>Welcome to @PageData["GameName"]</h1>
  <p>A micro 4x strategy gam</p>
</div>

<a href="@Url.Action("Create", "Game")" class="btn btn-primary">New Game</a>

