@{
    ViewBag.Title = "Home Page";
}

<div class="hero-unit">
    <h1>Welcome to @PageData["GameName"]</h1>
    <p>A micro 4x strategy game</p>
</div>

<blockquote>
  <p>As our own species is in the process of proving, one cannot have superior science and inferior morals. The combination is unstable and self-destroying.</p>
  <small>Arthur C. Clarke <cite title="Source Title">Voices from the Sky : Previews of the Coming Space Age</cite></small>
</blockquote>

<a href="@Url.Action("Index", "Lobby")" class="btn btn-primary">Play Now</a>

