<?xml version="1.0"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <connectionStrings xdt:Transform="Replace">
    <add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Server=tcp:omu8c9y7fk.database.windows.net,1433;Initial Catalog=starbastard_db;User ID=starbastard@omu8c9y7fk;Password=VYR%7b4h;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" />
  </connectionStrings>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>

  <appSettings xdt:Transform="Replace">
    <add key="Facebook.AppId" value="12345"/>
    <add key="Facebook.AppSecret" value="12345"/>
    <add key="Twitter.AppId" value="12345" />
    <add key="Twitter.AppSecret" value="12345" />
  </appSettings>
  

</configuration>