<?xml version="1.0"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <connectionStrings xdt:Transform="Remove">
  </connectionStrings>


  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>

  <appSettings xdt:Transform="Replace">
    <add key="Facebook.AppId" value="12345"/>
    <add key="Facebook.AppSecret" value="12345"/>
    <add key="Twitter.AppId" value="12345" />
    <add key="Twitter.AppSecret" value="12345" />
  </appSettings>
  

</configuration>