@model StarBastardCore.Website.Code.Game.PlayerData.ExtendedUserProfile
@{
    ViewBag.Title = "My Lobby";
}

<h1>My Lobby</h1>

<a href="@Url.Action("Create", "Lobby")" class="btn btn-primary">New Game</a>

<div>
    <h2>My Active Games</h2>
    
    @foreach (var game in Model.ActiveGames) {
    @: @Html.ActionLink(game.Name, "View", "Game", new { id = game.Id}, new{}) (@game.Players.First().Name vs @game.Players.Skip(1).First().Name) <br/>
    }

</div>

<div>
    <h2>Invites</h2>
</div>