@model StarBastardCore.Website.Code.Game.PlayerData.ExtendedUserProfile
@{
    ViewBag.Title = "My Lobby";
}

<h1>My Lobby</h1>

<a href="@Url.Action("Create", "Lobby")" class="btn btn-primary">New Game</a>

<div>
    <h2>My Active Games</h2>
    
    @foreach (var game in Model.ActiveGames) {
    @: GameId: @game
    }

</div>

<div>
    <h2>Invites</h2>
</div>