

.system{
    background: black;
    border: 1px solid red;
    float:left;
    color: white;
    opacity:0.8;
}

.discovered {
    background: yellow; 
    color: black; 
}

.keystat{
    padding-left: 10px;
}

.ConstructionStarship{
    width: 50px;
    height: 50px;
    background-color: green;
}

#zoomed-keystats{
}
#zoomed-number-of-buildings-built{
   
}
#zoomed-number-of-buildings-cap{
    
}
#zoomed-number-of-armies-in-battlefield{
   
}
#zoomed-number-of-ships-in-orbit{
   
}
#zoomed-number-of-enemy-ships-in-orbit{
}
#zoomed-orbit{
    background-color: blue;
}
#zoomed-battlefield{
    background-color: orange;
}
#zoomed-city{
    background-color: #ee82ee;
}
#zoomed-income{
    color: white;
    background-color: black;
    opacity:0.7;
}
#zoomed-ore-income{
}
#zoomed-food-income{
}
#zoomed-tech-income{
}